/* App.module.css */

body {
  background-color: aliceblue;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appContainer {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 3rem;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px solid #ccc;
}

/* Для адаптивности */
@media (max-width: 768px) {
  .appContainer {
    padding: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
